ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: auto;
  }
  span{
    margin-left: 10px;
    height: auto;
    width:200px;
  }
  .AddFriend{
    background-color:green;
  }
  .AddFriend:hover{
    background-color:rgb(7, 155, 7);
  }
  #yourFriends{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content:start;
    flex-direction: column;
    overflow-x:hidden;
    overflow-y:scroll;
  }