.logo{
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    height: 50px;
    width: auto;
    border: 2px solid gainsboro;
    border-radius: 50%;
}