ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: auto;
  }
  span{
    margin-left: 10px;
    height: auto;
    width:200px;
  }
  .RemoveFriend{
    background-color:rgb(169, 66, 66);
  }
  .RemoveFriend:hover{
    background-color:rgb(214, 54, 54);
  }