*{
    margin: 0px;
    padding: 0px;
}
.main2{
    height:auto; 
    width:100%;
    background-color:transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.profile{
    position:relative;
    height:200px;
    width: 500px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ulogo{
    height: 70px;
    width: auto;
    border-radius: 50%;
}
.uinfo{
    height: 100px;
    width: 250px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.uinfo p{
    height: 40px;
    width: auto;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: rgb(221, 221, 221);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}